<!-- materail card -->
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>
                <svg style="margin-bottom: 14px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                <p>&nbsp;&nbsp;Sign In</p>
            </h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p> Need to set up authentication</p>
    </mat-card-content>
</mat-card>